<section class="wrapper_section wrapper_consulations">
  <div class="search_and_filter_Consultations">
    <div class="filter_Consultations">
      <button class="btn_filter">
        فلتر البحث
        <svg-icon class="filter_icon" src="assets/Svg/filter.svg"> </svg-icon>
      </button>
      <button class="btn_Request_consultation">اطلب استشارة</button>
    </div>

    <div class="search_Consultations">
      <div class="search_input">
        <svg-icon class="search_icon" src="assets/Svg/search-01.svg"> </svg-icon>
        <input placeholder="ابحث ..." />
      </div>
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="حدد سنيين الخبرة"
          [style]="{ width: '100%' }"
        />
      </div>
    </div>
  </div>

  <div class="wrapper_all_consulations">
    <h4>الأستشاريين</h4>
    <div class="all_consulations">
      <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>

      <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>

      <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>

       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>


       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>

       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>

       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>
       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>
       <div class="card" [routerLink]="['/Dashboard/dashboard/details_Consultations']">
        <div class="header_card_consulations">
          <div class="svg_icon">
            <svg-icon src="assets/Svg/Frame 1261156093.svg"> </svg-icon>
            <p class="type_consulations">فرد</p>
          </div>

          <p>ولادة حلم للأستشارات الأدارية</p>
          <p class="stataus_consulations">Strategic</p>
        </div>
        <p class="desc_pref_consulations">
          هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس
          الواقع وتواكب سرعة التطور.....
        </p>
      </div>
    </div>
  </div>
</section>
