<section class="wrapper wrapper_new_replise">
  <div class="card">
    <div class="header_card">
      <h5>اسم المشروع - اسم الجمعية</h5>
      <h4>مرفوض من الجمعية</h4>
    </div>
    <p class="desc">
      هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس الواقع
      وتواكب سرعة التطور في القطاع الثالث من خلال أربعة جوانب: الإداري، التقني، المالي، والإعلامي.
    </p>

    <div class="content_card">
      <div>
        <span>الميزانية المطلوبة</span>
        <span>500 ريال</span>
      </div>
      <div>
        <span>مبلغ التمويل المقترح</span>
        <span>500 ريال</span>
      </div>
    </div>

    <div class="footer_card">
      <div>
        <p>رد الجمعية</p>
        <h4>مرفوض من الجمعية</h4>
      </div>
      <div>
        <p>قبل 10 ساعات - 27 يناير 2025</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header_card">
      <h5>اسم المشروع - اسم الجمعية</h5>
      <h4>مرفوض من الجمعية</h4>
    </div>
    <p class="desc">
      هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس الواقع
      وتواكب سرعة التطور في القطاع الثالث من خلال أربعة جوانب: الإداري، التقني، المالي، والإعلامي.
    </p>

    <div class="content_card">
      <div>
        <span>الميزانية المطلوبة</span>
        <span>500 ريال</span>
      </div>
      <div>
        <span>مبلغ التمويل المقترح</span>
        <span>500 ريال</span>
      </div>
    </div>

    <div class="footer_card">
      <div>
        <p>رد الجمعية</p>
        <h4>مرفوض من الجمعية</h4>
      </div>
      <div>
        <p>قبل 10 ساعات - 27 يناير 2025</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header_card">
      <h5>اسم المشروع - اسم الجمعية</h5>
      <h4>مرفوض من الجمعية</h4>
    </div>
    <p class="desc">
      هي شركة متخصصة في تطوير وتنمية الجهات غير الربحية في المملكة العربية السعودية، تلامس الواقع
      وتواكب سرعة التطور في القطاع الثالث من خلال أربعة جوانب: الإداري، التقني، المالي، والإعلامي.
    </p>

    <div class="content_card">
      <div>
        <span>الميزانية المطلوبة</span>
        <span>500 ريال</span>
      </div>
      <div>
        <span>مبلغ التمويل المقترح</span>
        <span>500 ريال</span>
      </div>
    </div>

    <div class="footer_card">
      <div>
        <p>رد الجمعية</p>
        <h4>مرفوض من الجمعية</h4>
      </div>
      <div>
        <p>قبل 10 ساعات - 27 يناير 2025</p>
      </div>
    </div>
  </div>
</section>
