@use '../../../../../GlopalStyle.scss';

.wrapper_create_Financial_Governor {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  .header {
    display: flex;
    align-items: center;
    gap: 7px;
    direction: rtl;
    h4 {
      color: #124959;
      font-size: 24px;
      font-weight: 500;
    }
    p {
      color: #646d74;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.form_Financial_Governor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 20px;
  .Group {
    width: 100%;
  }
}
button {
  background-color: #124959;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 30px auto;
  width: 20%;
  text-align: center;
  display: block;
  border: 1px solid transparent;
  transition: 0.3s linear;
  &:hover {
    background-color: #ffffff;
    border: 1px solid #124959;
    color: #124959;
  }
}

label {
  display: block;
  color: #05313d;
  font-size: 20px;
  font-weight: 400;
}

input {
  border: 1px solid #969696;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

@media (max-width: 767px) {
  .form_Financial_Governor {
    grid-template-columns: 1fr;
  }

  button {
    width: 70%;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  button {
    width: 50%;
  }
}
