 <div class="search_about_project">
  <div>
    <label>نظرة عامة على التمويل</label>
    <p-select
      [options]=""
      optionLabel="name"
      placeholder="أختار المشروع"
      class="w-full"
    />
  </div>
  </div>

<section class="wrapper_finacing">
  <div class="finicing_cards">
    <div class="card">
      <p class="title">التمويل المعتمد</p>
      <p class="descrption">56 مليون ريال</p>
    </div>
    <div class="card">
      <p class="title">المنصرف فعليًا</p>
      <p class="descrption">56 مليون ريال</p>
    </div>
    <div class="card">
      <p class="title">المتبقي</p>
      <p class="descrption">56 مليون ريال</p>
    </div>
  </div>

  <div class="finicing_charts">
    <app-pie-charts></app-pie-charts>
  </div>

  <div class="finicing_point">
    <div class="point">
      <span class="point_circle"></span>
      <span>التمويل المعتمد</span>
    </div>
    <div class="point">
      <span class="point_circle"></span>
      <span>المنصرف فعليًا</span>
    </div>
    <div class="point">
      <span class="point_circle"></span>
      <span>المتبقي</span>
    </div>
  </div>
</section>
