<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onDialogCloseHandler()"
>
  <div class="wrapper_filterby">
    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="نوع المشروع"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>نوع المشروع</label>
    </div>

    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="القطاع"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>القطاع</label>
    </div>

      <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="الجهة المنفذة"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>الجهة المنفذة</label>
    </div>

    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="المنطقة / المحافظة"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>المنطقة / المحافظة</label>
    </div>


    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="حالة المشروع"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>حالة المشروع</label>
    </div>


    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="نطاق الميزانية"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>نطاق الميزانية</label>
    </div>

    <div class="card">
      <div class="select">
        <p-select
          [options]=""
          optionLabel="name"
          placeholder="فترة التنفيذ"
          [style]="{ width: '100%' }"
        />
      </div>
      <label>فترة التنفيذ</label>
    </div>

    <div class="card">
      <div class="select">
        <input placeholder="مستوى الأداء"/>
      </div>
      <label>مستوى الأداء</label>
    </div>
    <diV class="flex_btn">
      <button class="close_btn" (click)="onDialogCloseHandler()">أغلاق</button>
      <button class="filter_btn">أبحث</button>
    </diV>
  </div>
</p-dialog>
