@use '../../../../../../GlopalStyle.scss';

.wrapper_details_project {
  height: 78vh;
  overflow: auto;
}


.details_project {
  display: flex;
  flex-direction: column;
  gap: 20px;
   background-color: #f2f3fb;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}


@media(max-width:767px){
.details_project{
   padding:10px;
}
}

