<section class="wrapper_section wrapper_details_project">
  <app-name-project></app-name-project>
  <div class="details_project">
    <app-descrption-project></app-descrption-project>
    <app-life-cycle-project></app-life-cycle-project>
    <app-project-summery-info></app-project-summery-info>
    <app-project-target></app-project-target>
    <app-performance-metrics></app-performance-metrics>
    <app-report-project></app-report-project>
    <app-challenge-project></app-challenge-project>
  </div>
</section>
