<section class="wrapper_section wrapper_details_project">
  <div class="name_project">
    <h4>تفاصيل مشروعك</h4>
    <div class="select">
      <p-select
        [options]=""
        appendTo="body"
        optionLabel="name"
        placeholder="اسم المشروع"
        [style]="{ width: '100%' }"
      />
    </div>
    <div class="pref_details_project">
      <div class="card">
        <p>المتبقي</p>
        <p>6 مليون ريال</p>
      </div>
      <div class="card">
        <p>المنصرف فعليًا</p>
        <p>50 مليون ريال (90%)</p>
      </div>
      <div class="card">
        <p>التمويل المعتمد</p>
        <p>56 مليون ريال</p>
      </div>
    </div>
  </div>
  <div class="details_project">
    <div class="descrption_project">
      <p class="staus_project">جارية</p>

      <div class="desc">
        <div>
          <h4>وصف المشروع</h4>
          <p>
            نود إبلاغك بأن موعدك لحجز الاستشارة لدى شركة ولادة حلم للاستشارات الإدارية قد تم تأكيده.
            يمكنك الانضمام للاجتماع باستخدام نود إبلاغك بأن موعدك لحجز الاستشارة لدى شركة ولادة حلم
            للاستشارات الإدارية قد تم تأكيده. يمكنك الانضمام للاجتماع نود إبلاغك بأن موعدك لحجز
            الاستشارة لدى شركة ولادة حلم للاستشارات الإدارية قد تم تأكيده. يمكنك الانضمام للاجتماع
            باستخدام
          </p>
        </div>
      </div>
    </div>

    <div class="life_cycle_project">
      <div class="card">
        <label>نطاق العمل الجغرافي</label>
        <div class="input_fild">
          <svg-icon class="shape green-top-left" src="assets/Svg/Location.svg"> </svg-icon>
          <input value="جدة, المملكة العربية السعودية" />
        </div>
      </div>

      <div class="card">
        <label>تاريخ نهاية المشروع</label>
        <div class="input_fild">
          <svg-icon class="shape green-top-left" src="assets/Svg/calendar-03.svg"> </svg-icon>
          <input value="1 يناير 2026" />
        </div>
      </div>

      <div class="card">
        <label>تاريخ بداية المشروع</label>
        <div class="input_fild">
          <svg-icon class="shape green-top-left" src="assets/Svg/calendar-03.svg"> </svg-icon>
          <input value="1 يناير 2026" />
        </div>
      </div>
    </div>

    <div class="project_summary_info">
      <div class="card">
        <span>75%</span>
        <p>
          <svg-icon class="shape green-top-left" src="assets/Svg/Star 1.svg"> </svg-icon>
          <svg-icon class="shape green-top-left" src="assets/Svg/Star 1.svg"> </svg-icon>
          <svg-icon class="shape green-top-left" src="assets/Svg/Star 5.svg"> </svg-icon>
        </p>
        <p>:تقييم المشروع</p>
      </div>

      <div class="card">
        <p>طلاب الجامعات بجدة</p>
        <p>:الفئة المستفيدة</p>
      </div>
      <div class="card">
        <p>جمعية الأمل</p>
        <p>:الجهة المانحة</p>
      </div>
    </div>

    <div class="project_target">
      <h4>أهذاف المشروع</h4>
      <ul>
        <li>
          <span class="circle"></span>
          <span>إنشاء ممرات بيئية لحماية التنوع البيولوجي والحياة البرية.</span>
        </li>
        <li>
          <span class="circle"></span>
          <span>زراعة مليون شجرة على مستوى المملكة لتحسين جودة الهواء.</span>
        </li>
        <li>
          <span class="circle"></span>
          <span>تقليل انبعاثات الكربون بنسبة 4% سنوياً بحلول 2030.</span>
        </li>
        <li>
          <span class="circle"></span>
          <span>زيادة الوعي البيئي في المجتمع وتشجيع المبادرات الخضراء.</span>
        </li>
        <li>
          <span class="circle"></span>
          <span>تعزيز البنية التحتية للزراعة المستدامة.</span>
        </li>
      </ul>
    </div>
  </div>
</section>
