<section class="wrapper_create_Financial_Governor">
  <div class="header">
    <h4>المحافظ</h4>
    <p>اضافة محفظة</p>
  </div>
  <form>
    <div class="form_Financial_Governor">
      <div class="Group">
        <label>اسم المحفظة</label>
        <input />
      </div>

      <div class="Group">
        <label>الهدف من التمويل</label>
        <input />
      </div>

      <div class="Group">
        <label>نوع المشروعات</label>
        <input />
      </div>

      <div class="Group">
        <label>الميزانية الكلية</label>
        <input />
      </div>

      <div class="Group">
        <label>تاريخ بدء المحفظة</label>
        <p-datepicker
          appendTo="body"
          styleClass="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [showIcon]="true"
          inputId="buttondisplay"
          [showOnFocus]="false"
        />
      </div>

      <div class="Group">
        <label>تاريخ انتهاء المحفظة</label>
        <p-datepicker
          appendTo="body"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [showIcon]="true"
          inputId="buttondisplay"
          [showOnFocus]="false"
        />
      </div>
    </div>
    <button>انشاء</button>
  </form>
</section>
