<form>
  <section class="public_data">
    <div class="wrapper_public_data">
      <div class="btn_edit">
        <button>
          <svg-icon src="assets/Svg/edit-02.svg"> </svg-icon>
          تعديل البيانات
        </button>
      </div>

      <div class="input_edit">
        <div class="Group">
          <label>اسم الجهة:</label>
          <input/>
        </div>

        <div class="Group">
          <label> رقم السجل التجاري / الترخيص: :</label>
          <input/>
        </div>

        <div class="Group">
          <label>المسؤول:</label>
          <input/>
        </div>

        <div class="Group">
          <label>المنصب / الدور:</label>
          <input/>
        </div>

        <div class="Group">
          <label>تاريخ الانضمام:</label>
          <input />
        </div>

        <div class="Group">
          <label>عنوان المقر الرئيسي:</label>
          <input/>
        </div>

        <div class="Group">
          <label>نطاق العمل الجغرافي:</label>
          <input/>
        </div>
      </div>

      <div class="img_edit">
        <img src="assets/Img/Image-50.png" />
      </div>
    </div>
  </section>


  <section class="wrapper_contact_data">
     <h4>بيانات التواصل</h4>
    <div class="contact_data">
      <div class="Group">
        <label>رقم الهاتف:</label>
        <input/>
      </div>

      <div class="Group">
        <label>البريد الالكتروني:</label>
        <input/>
      </div>

      <div class="Group">
        <label>رابط وسائل التواصل الاجتماعي ::</label>
        <input/>
      </div>

      <div class="Group">
        <label>رابط الموقع الإلكتروني :</label>
        <input/>
      </div>
    </div>

    <h4 class="departments_data">قسم بيانات الدعم والمسؤولية الاجتماعية</h4>
    <div class="department_data">
      <div class="Group">
        <label>مجالات الدعم المقدمة :</label>
        <input/>
      </div>

      <div class="Group">
        <label>قيمة الدعم السنوي (اختياري) :</label>
        <input/>
      </div>

      <div class="Group">
        <label>خطط المسؤولية المجتمعية المستقبلية (اختياري):</label>
        <input/>
      </div>
    </div>

      <div class="btn_edit_last">
        <button>
          <svg-icon src="assets/Svg/edit-02.svg"> </svg-icon>
          تعديل البيانات
        </button>
    </div>
  </section>
</form>
