
.wrapper-error{
  .error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    display: block;
   animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}



::placeholder{
   font-family: 'Cairo', sans-serif;
}


input , button{
  border: none;
  outline: none;
}
